@model AtosProjetoFinal.Models.ViewModels.EquipmentViewModel
@{
    ViewData["Title"] = "Equipar Armadura";
}

<h1>Armaduras</h1>

<h4>Selecione uma personagem e uma armadura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="CharArmor.characterID" class="control-label"></label>
                <select asp-for="CharArmor.characterID" class="form-control" 
                asp-items="@(new SelectList(@Model.Characters,"characterID","characterName"))"></select>
                <span asp-validation-for="CharArmor.characterID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CharArmor.armorID" class="control-label"></label>
                <select asp-for="CharArmor.armorID" class="form-control" 
                asp-items="@(new SelectList(@Model.Armors,"armorID","armorName"))"></select>
                <span asp-validation-for="CharArmor.armorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Equipar" class="btn btn-primary" />
                <input type="button" class="btn btn-secondary" onclick= "history.go(-1)" value="Voltar" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
