@model AtosProjetoFinal.Models.Armor

@{
    ViewData["Title"] = "Armadura";
}

<h1>Altere as informações da armadura</h1>

<h4>Armaduras</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="armorID" />
            <div class="form-group">
                <label asp-for="armorName" class="control-label"></label>
                <input asp-for="armorName" class="form-control" />
                <span asp-validation-for="armorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="armorGroup" class="control-label"></label>
                <input asp-for="armorGroup" class="form-control" />
                <span asp-validation-for="armorGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="armorBulk" class="control-label"></label>
                <input asp-for="armorBulk" class="form-control" />
                <span asp-validation-for="armorBulk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="armorProtectionValue" class="control-label"></label>
                <input asp-for="armorProtectionValue" class="form-control" />
                <span asp-validation-for="armorProtectionValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="armorDescription" class="control-label"></label>
                <input asp-for="armorDescription" class="form-control" />
                <span asp-validation-for="armorDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <input type="button" class="btn btn-secondary" onclick= "history.go(-1)" value="Voltar" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
