@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Aplicação desenvolvida para fornecer suporte 
    online na criação de personagens para um sistema de RPG</p>
<p>Todas as mecânicas e sistemas aqui implementados 
    podem ser utilizados desde que mencionada a fonte.</p>
